<!DOCTYPE html>
<html>
	<!--<link rel="stylesheet" type="text/css" href="/../static/style.css">-->

	<title>
		AUTOCATSITTER |
		{% block title %} {% endblock %}
	</title>

	<head>

	<style>
		* {
			font-family: Calibri;
		}

		p { 
			font-size: 		16px;
			margin-top: 	30px;
			margin-left: 	80px;
			margin-right: 	80px;
		}

		a {
			color: #458B00;
		}

		video {
			background: 	#f0f0f0;
			margin-top: 	40px;
			margin-bottom: 	40px;
			margin-left: 	80px;
			margin-right: 	80px;
		}
	</style>

	</head>

	<body>
		<header>
			<b>AUTOCATSITTER</b> | 
			<a href="./home">HOME</a> |
			<a href="./stream">STREAM</a>
		</header>

		{% block body %} {% endblock %}
	</body>

</html>
