{% extends "base.html" %}
{% block title %}CAPTURES{% endblock %}
{% block pagetitle %}CAPTURES{% endblock %}

{% block body %}

<div class="tilearea" style="text-align: center; margin-top: 20px; width: 90%; display: flex; flex-wrap: wrap;">
  {% for i in filenames %}
  <div style="padding-left: 10px; padding-right: 10px; padding-bottom: 20px; ">
    <a href="{{i['path']}}">
      <img src="{{i['path']}}" style="width: 180px; height: 180px; object-fit: cover;"/>
    </a>
    <br>
    <text style="font-size: 12;">{{i['filename']}}</text>
  </div>
  {% endfor %}
</div>

{% endblock %}